@model DefinitionExtractionWeb.Models.Descriptor

@{
    ViewBag.Title = "DescriptorView";
}

<h2>DescriptorView</h2>

<div>
    <h4>Descriptor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descriptor_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptor_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_char)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_char)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_char)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_char)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relator)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
