
@model DateTime[]

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Отчет";
}
        <h2>Отчет создается по пользователям в определенном промежутке времени</h2>


        @using (Ajax.BeginForm("Submit", new AjaxOptions { UpdateTargetId = "results", HttpMethod = "Post", InsertionMode = InsertionMode.Replace }))
        {
            <div class="row">

                <div class="col-md-6">
                    @Html.Label("Начало", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model[0], new { htmlAttributes = new { @class = "form-control datepicker", @Value = Model[0].ToString("yyyy/MM/dd") } })
                        @Html.ValidationMessageFor(model => model[0], "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    @Html.Label("Конец", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model[1], new { htmlAttributes = new { @class = "form-control datepicker", @Value = Model[1].ToString("yyyy/MM/dd") } })
                        @Html.ValidationMessageFor(model => model[1], "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-5 col-md-2">
                    <input type="submit" value="Искать" class="btn btn-outline-secondary" />
                </div>
            </div>
        }

        <div id="results"></div>


