@model DefinitionExtractionWeb.Models.Descriptor

@{
    ViewBag.Title = Model.Descriptor_content;
    var definitions = Model.Definitions;
}

<h2>Термин</h2>

<div>
    <h4>@Model.Descriptor_content</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

            @if (Model.Relator != null && Model.Relator.Length > 0)
            {
                @Model.Relator
            }
        </dt>

        <dt>
            @Model.Start_line @Model.Start_char @Model.End_line @Model.End_char
        </dt>

        <dt>
            @if (Model.Ascriptors.Count() > 0)
            {
                Html.Label("Аскрипторы: ");
                foreach (var ascriptor in Model.Ascriptors)
                {
                    Html.ActionLink(ascriptor.Ascriptor_content, "DescriptorView", ascriptor);
                }
            }
        </dt>

        <dt>
            @if (Model.Relations.Count() > 0 || Model.Relations1.Count() > 0)
            {
                Html.Label("Зависисимости: ");
                foreach (var rel in Model.Relations)
                {
                    Html.Label(rel.Relation_types.Type_name + ": ");
                    Html.ActionLink(rel.Descriptor.Descriptor_content, "DescriptorView", rel.Descriptor);
                }
                foreach (var rel in Model.Relations1)
                {
                    Html.Label(rel.Relation_types.Type_name + ": ");
                    Html.ActionLink(rel.Descriptor1.Descriptor_content, "DescriptorView", rel.Descriptor1);
                }
            }

        </dt>

        <dt>
            @Html.ActionLink("Редактировать", "Edit", "Descriptors", new { id = Model.ID }, null) | @Html.ActionLink("Удалить", "Delete", "Descriptors", new { id = Model.ID }, null)

        </dt>
    </dl>
    @foreach (var definition in definitions)
    {

        <dl class="dl-horizontal">

            <dt>
                @definition.Definition_content
            </dt>

            <dt>
                @definition.Start_line @definition.Start_char @definition.End_line @definition.End_char
            </dt>
            @Html.ActionLink("Редактировать ", "Edit", "Definitions1", new { id = definition.ID }, null) | @Html.ActionLink("Удалить", "Delete", "Definitions1", new { id = definition.ID }, null)


        </dl>
    }

</div>